@import "../common/styles/chlog-style-globalvars.scss";
@import "../common/styles/chlog-style-calendar.scss";

.attackgroup {
    float: left;
    border: 1px solid  $chlog-bordergrey;   
    width: 30%;
    margin: 1.5%;
    min-width: 275px;
    overflow: hidden;

    header {
        background: $chlog-darkblue;   
        color: $chlog-contrast;
        padding: 0.5em;
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
    }

    .sectionbody {
        padding: 1em;
    }
}

#kipscale {
    border: 0px solid  $chlog-bordergrey;
    border-collapse: collapse;
    margin-bottom: 1em;
    
    table {
        width: 100%;
        
        tbody {
            tr {
                td {
                    border: 1px solid $chlog-bordergrey;
                    height: 3em;
                    width: 20%;
                    text-align: center;
                    
                    &.kipcell:hover {
                        background: $chlog-contrast !important;   
                    }   
                }   
            }
        }
    }
}