@import "../common/styles/chlog-style-globalvars.scss";
@import "../common/styles/chlog-style-calendar.scss";

.attackgroup {
    float: left;
    border: 1px solid  $chlog-bordergrey;   
    border-radius: 5px;
    width: 30%;
    margin: 1.5%;
    min-width: 275px;
    overflow: hidden;

    header {
        background: $chlog-darkblue;   
        color: $chlog-contrast;
        padding: 0.5em;
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
    }

    .sectionbody {
        padding: 0.5em;
    }
}

#kipscale {
    border: 0px solid  $chlog-bordergrey;
    border-collapse: collapse;
    margin-bottom: 1em;
    
    table {
        width: 100%;
        
        tbody {
            tr {
                td {
                    border: 0px solid $chlog-bordergrey;
                    border-radius: 5px;
                    height: 3em;
                    width: 20%;
                    text-align: center;
                }   
            }
        }
    }
}


.tablelinkedlist {
    border: 0px solid #f00;
    width: 100%;
    
    tbody{
        tr {

            &:nth-child(odd) {
                background: $chlog-mainmenublue;
            }

            td {
                padding: 0.4em;   

                &.chkcol {
                    width: 2em;   
                }

                &.treatmentxtra {
                    display: none;   
                }
            }
        }
    }
}


#tblTreatments {

    tbody {
        tr {
            td {
                background: $chlog-mainmenublue;
                
                select.selTre {
                    margin-bottom: 0;
                }

                .dropdownrows {
                    margin: 0.5em;   
                    padding: 0.5em;
                    background: #eee;
                    border-radius: 5px;
                }
                
                div.dropdownrows {
                    display: none;   
                }
                
                .dropdownlink {
                    font-size: 0.9em;
                    margin-left: 1em;   
                    cursor: pointer;
                }
                
                .remTre {
                    margin: 0;
                    width: 100%;   
                    background: #faa;
                }                
            }
            
        }
    }
}

.TreatmentButtons {
    width: 100%;
    padding: 0 0.5em;
    
    #cmdAddTreatment {
        margin: 0 0 0.5em 0;
        width: 100%;   
    }
}


.divUCDbuttongroup {
    .cancel, .update, .delete {
        float: right;   
        width: 5.5em;
    }
}


@media (min-width: 620px) {
    #tblTreatments {
        tbody {
            tr {
                td {
                    .remTre:hover {
                        background: #444;   
                        color: #f88;
                    }
                }
            }
        }
    }
    
    .divUCDbuttongroup {
        .cancel, .update {
            float: right;   
            width: 8em;
        }
        
        .delete {
            float: left;   
            width: 8em;
        }
    }
}
