/* ====================================================
    
    chlog-style-main.css

    Globally applicable style rules. 
    Accomodates mobile-first, and widescreen (620px+) 

   ==================================================== */

* {
    box-sizing: border-box;   
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.endfloat {
    clear: both;   
}


// =======================
//   variables 
// =======================
$chlog-blue:         #5b7f95;
$chlog-darkblue:     #3a515f;
$chlog-contrast:     #ede859;
$chlog-greytext:     #666;
$chlog-darkgrey:     #444;
$chlog-updateorange: #f90;
$chlog-cancelgrey:   #bbb;
$chlog-mainmenublue: #ddf;
$chlog-mainmenufocus: #c4c4e5;

/* =======================
   element layout rules 
   ======================= */

form>label {
    display: block;
}   


form>input[type=checkbox] {
    display: inline-block;
}

button {
    color: #000;
    padding: 0.2em 0.5em;
    margin: 0.5em 0.2em;
    border: 0px solid $chlog-greytext;
    border-radius: 5px;
    
    &:hover {
        background: $chlog-darkgrey;
        color: #fff;
    }
    
    &.update {
        background: $chlog-updateorange;   
        
        &:hover {
            background: $chlog-darkgrey;
            color: $chlog-updateorange;
        }
    }
    
    &.cancel {
        background: $chlog-cancelgrey;   
        color: $chlog-darkgrey;
        
        &:hover {
            background: $chlog-darkgrey;
            color: #fff;
        }
    }
}



h2 {
    color: $chlog-darkblue;
    margin: 0.5em 0 0.8em 0;   
    border-bottom: 1px solid $chlog-greytext;
}



/* =======================
   header style rules 
   ======================= */
.chlog-header {
    background: $chlog-blue;   
    padding: 0.5em 0.8em;
    overflow: hidden;

    a {
        text-decoration: none;   
        font-size: 2em;
        font-weight: bold;
        color: #fff;
        display: inline-block;
        float: left;
    }
}


.chlog-header-subheader {
    font-weight: bold;
    color: $chlog-contrast;
    display: block;
}

.chlog-header-environment {
    font-size: 2em;
    font-weight: bold;
    color: #eee;
    display: inline-block;
    float: right;   
}

.chlog-header-user {
    padding: 0 0.8em;   
    background: $chlog-darkblue;
    color: #ddd;
    text-align: right;
    font-size: 0.9em;

    a {
        text-decoration: none;
        margin: 0;
        padding: 0;
        background: $chlog-darkblue;
        color: #ddd;
        font-size: 0.9em;
    }
}



/* =======================
   main menu layout rules (Mobile-First) 
   ======================= */

#chlog-mainmenu-toggle {
	display: block;
	background: #fff;
	color: $chlog-greytext;
	padding: 10px 15px;
	margin-bottom: 0.3em;
    border-bottom: 1px solid $chlog-greytext;
    
    img {
        height: 1em;
        width: 1.3em;
        margin-right: 1em;
    }
}


#chlog-mainmenu {
    display: none;
    margin-bottom: 0.3em;
    float: left;
    width: 40%;
    background: $chlog-mainmenublue;

    ul {
        list-style: none;   

        li {
            display: block;

            &.dummya {
                display: block;
                padding: 0.2em 0.8em;
                line-height: 1.9em;
                color: $chlog-greytext;    
            }
            
            a, a:link, a:visited, a:active, a:focus{
                display: block;
                padding: 0.2em 0.8em;
                line-height: 1.9em;
                color: $chlog-greytext;
                text-decoration: none;
            }

            &.chlog-mainmenu-highlighted {
                background: $chlog-mainmenufocus;
                border-bottom: 3px solid $chlog-contrast;
            }
        }
    }
}




/* MEGAMENUS */

.chlog-submenu {
    float: left;
    width: 58%;
    background: $chlog-mainmenufocus;
    display: none;
    padding: 0.5em; 
    
    section {
        float: none;
        width: 100%;
        margin: 0;
        
        .chlog-submenu-header {
            color: $chlog-darkblue;
            font-size: 1em;
            font-weight: normal;
            padding-bottom: 0.3em;
            margin-top: 0.5em;
            margin-bottom: 1em;
            border-bottom: 2px solid $chlog-darkblue;
        }

        ul>li {
            list-style: none;
            margin-bottom: 1em;   

            a, a:link, a:hover, a:visited, a:focus {
                text-decoration: none;
                color: $chlog-greytext;
            }
            
            a:hover {
                color: $chlog-contrast;   
            }
        }
    }
}




/* =======================
   Main Screen Area & Footer classes 
   ======================= */


#chlog-main {
    padding: 0.5em 1em 1em 1em;   
}

#chlog-footer {
    text-align: center;
    border-top: 1px solid $chlog-greytext;
    padding: 0.5em;
}



/* 
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
                        Widescreen rules - extend the full menu
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
*/

@media (min-width: 620px) {

    html {
        overflow-y: scroll;
    }

    #chlog-main {
        width: 95%;
        margin: auto;
    }

    #chlog-mainmenu-toggle {
        display: none;
    }

    #chlog-mainmenu {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 0;
        
        ul {
            list-style: none;   
            margin: 0;
            background: $chlog-mainmenublue;
            
            li {
                display: inline-block;
                color: $chlog-greytext;
                font-weight: normal;
                font-size: 0.9em;
                
                &.dummya, a, a:link, a:visited, a:active, a:focus{
                    display: inline-block;
                    text-align: left;
                    padding: 0 0.8em;
                    height: 3em;
                    line-height: 3em;
                    transition: background 0.5s;
                }
                
                &.dummya:hover, a:hover {
                    background: $chlog-mainmenufocus;
                    border-bottom: 3px solid $chlog-contrast;
                }
                
                &.chlog-mainmenu-highlighted {
                    background: $chlog-mainmenufocus;
                    border-bottom: 3px solid $chlog-contrast;
                }
            }
        }
    }

    
        
    /* MEGAMENUS */

    .chlog-submenu {
        position: absolute;
        left: 0;
        width: 100vw;
        background: #fff;
        color: #fff;
        display: none;
        min-height: 15em;
        padding: 0em 0.5em 0.5em 0.5em; 
        border-bottom: 3px solid $chlog-darkblue;
        
        section {
            display: block;
            float: left;
            height: 13em;
            padding: 0 1em;
            background: #fff;
            border-left: 2px solid $chlog-darkgrey;
            border-right: 2px solid $chlog-darkgrey;
            border-radius: 10px;
            width: 30%;
            margin: 1% 1.5%;
            
            .chlog-submenu-header {
                margin-bottom: 0.5em;
                color: $chlog-darkblue;
            }
            
            ul>li {
                margin-bottom: 0.5em;   
                font-size: 0.9em;
                
                a, a:link, a:hover, a:visited, a:focus {
                    text-decoration: none;
                    color: $chlog-greytext;
                    display: block;
                    height: 100%;
                    width: 100%;
                    padding: 0.2em 0.5em;
                }

                a:hover {
                    color: $chlog-darkblue;   
                    text-decoration: underline;
                }
            }
        }
    }

}



