/* ====================================================
    
    chlog-style-main.css

    Globally applicable style rules. 
    No limits or implications on viewport.

   ==================================================== */

* {
    box-sizing: border-box;   
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.endfloat {
    clear: both;   
}

/* =======================
   element layout rules 
   ======================= */

form>label {
    display: block;
}   


form>input[type=checkbox] {
    display: inline-block;
}


/* =======================
   header style rules 
   ======================= */
.chlog-header {
    background: #0083D5;   
    padding: 0.5em 0.8em;
    overflow: hidden;
}

.chlog-header>a {
    text-decoration: none;   
    font-size: 2em;
    font-weight: bold;
    color: #eee;
    display: inline-block;
    float: left;
}

.chlog-header-subheader {
    font-weight: bold;
    color: #ddd;
    display: block;
}

.chlog-header-environment {
    font-size: 2em;
    font-weight: bold;
    color: #eee;
    display: inline-block;
    float: right;   
}

.chlog-header-user {
    padding: 0 0.8em;   
    background: #0775ba;
    color: #ddd;
    text-align: right;
    font-size: 0.9em;
}

.chlog-header-user>form>button.button-noborder {
    border: 0;
    background: #0775ba;
    color: #ddd;
    font-size: 0.9em;
}

.chlog-header-user>form>button.button-noborder:hover {
    cursor: pointer;
}


/* =======================
   main menu layout rules 
   ======================= */
#chlog-mainmenu {
    margin-bottom: 1em;
}

#chlog-mainmenu>ul {
    list-style: none;   
    margin: 0;
    background: #fff;
    border-bottom: 1px solid #666;
}

#chlog-mainmenu>ul>li {
    display: inline-block;
}

#chlog-mainmenu>ul>li>a, 
#chlog-mainmenu>ul>li>a:link, 
#chlog-mainmenu>ul>li>a:visited,
#chlog-mainmenu>ul>li>a:active
#chlog-mainmenu>ul>li>a:focus{
    display:block;
    padding: 0 0.8em;
    height: 2em;
    line-height: 1.9em;
    color: #666;
    text-decoration: none;
    text-align: center;
    border-right: 1px solid #666;
}

#chlog-mainmenu>ul>li>a:hover {
    background: #666;
    color: #fff;
}


/* =======================
   global style classes 
   ======================= */


#chlog-main {
    padding: 0 1em 1em 1em;   
}

#chlog-footer {
    text-align: center;
}

