/* ====================================================
    
    chlog-style-main.css

    Globally applicable style rules. 
    Accomodates mobile-first, and widescreen (620px+) 

   ==================================================== */
* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0; }

.endfloat {
  clear: both; }

button {
  color: #000;
  background: #ccc;
  padding: 0.2em 0.5em;
  margin: 0.5em 0.2em;
  border: 0px solid #666;
  border-radius: 5px;
  height: 2em;
  width: 8em;
  font-size: 1em; }
  button:hover {
    background: #444;
    color: #fff; }
  button.update {
    background: #f90; }
    button.update:hover {
      background: #444;
      color: #f90; }
  button.cancel {
    background: #bbb;
    color: #444; }
    button.cancel:hover {
      background: #444;
      color: #fff; }

/* 
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
                                    Widescreen rules 
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
*/
@media (min-width: 620px) {
  button {
    font-size: 0.9em; } }
/* =======================
   main menu layout rules (Mobile-First) 
   ======================= */
#chlog-mainmenu-toggle {
  display: block;
  background: #fff;
  color: #666;
  padding: 10px 15px;
  margin-bottom: 0.3em;
  border-bottom: 1px solid #666; }
  #chlog-mainmenu-toggle img {
    height: 1em;
    width: 1.3em;
    margin-right: 1em; }

#chlog-mainmenu {
  display: none;
  margin-bottom: 0.3em;
  float: left;
  width: 40%;
  background: #ddf; }
  #chlog-mainmenu ul {
    list-style: none; }
    #chlog-mainmenu ul li {
      display: block; }
      #chlog-mainmenu ul li.dummya {
        display: block;
        padding: 0.2em 0.8em;
        line-height: 1.9em;
        color: #666; }
      #chlog-mainmenu ul li a, #chlog-mainmenu ul li a:link, #chlog-mainmenu ul li a:visited, #chlog-mainmenu ul li a:active, #chlog-mainmenu ul li a:focus {
        display: block;
        padding: 0.2em 0.8em;
        line-height: 1.9em;
        color: #666;
        text-decoration: none; }
      #chlog-mainmenu ul li.chlog-mainmenu-highlighted {
        background: #c4c4e5;
        border-bottom: 3px solid #ede859; }

/* MEGAMENUS */
.chlog-submenu {
  float: left;
  width: 58%;
  background: #c4c4e5;
  display: none;
  padding: 0.5em; }
  .chlog-submenu section {
    float: none;
    width: 100%;
    margin: 0; }
    .chlog-submenu section .chlog-submenu-header {
      color: #3a515f;
      font-size: 1em;
      font-weight: normal;
      padding-bottom: 0.3em;
      margin-top: 0.5em;
      margin-bottom: 1em;
      border-bottom: 2px solid #3a515f; }
    .chlog-submenu section ul > li {
      list-style: none;
      margin-bottom: 1em; }
      .chlog-submenu section ul > li a, .chlog-submenu section ul > li a:link, .chlog-submenu section ul > li a:hover, .chlog-submenu section ul > li a:visited, .chlog-submenu section ul > li a:focus {
        text-decoration: none;
        color: #666; }
      .chlog-submenu section ul > li a:hover {
        color: #ede859; }

/* 
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
                        Widescreen rules - extend the full menu
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
*/
@media (min-width: 620px) {
  #chlog-mainmenu-toggle {
    display: none; }

  #chlog-mainmenu {
    display: block;
    width: 100%;
    float: none;
    margin-bottom: 0; }
    #chlog-mainmenu ul {
      list-style: none;
      margin: 0;
      background: #ddf; }
      #chlog-mainmenu ul li {
        display: inline-block;
        color: #666;
        font-weight: normal;
        font-size: 0.9em; }
        #chlog-mainmenu ul li.dummya, #chlog-mainmenu ul li a, #chlog-mainmenu ul li a:link, #chlog-mainmenu ul li a:visited, #chlog-mainmenu ul li a:active, #chlog-mainmenu ul li a:focus {
          display: inline-block;
          text-align: left;
          padding: 0 0.8em;
          height: 3em;
          line-height: 3em;
          transition: background 0.5s; }
        #chlog-mainmenu ul li.dummya:hover, #chlog-mainmenu ul li a:hover {
          background: #c4c4e5;
          border-bottom: 3px solid #ede859; }
        #chlog-mainmenu ul li.chlog-mainmenu-highlighted {
          background: #c4c4e5;
          border-bottom: 3px solid #ede859; }

  /* MEGAMENUS */
  .chlog-submenu {
    position: absolute;
    left: 0;
    width: 100vw;
    background: #fff;
    color: #fff;
    display: none;
    min-height: 15em;
    padding: 0em 0.5em 0.5em 0.5em;
    border-bottom: 2px solid #3a515f; }
    .chlog-submenu section {
      display: block;
      float: left;
      height: 13em;
      padding: 0 1em;
      background: #fff;
      border-left: 2px solid #444;
      border-right: 2px solid #444;
      border-radius: 10px;
      width: 30%;
      margin: 1% 1.5%; }
      .chlog-submenu section .chlog-submenu-header {
        margin-bottom: 0.5em;
        color: #3a515f; }
      .chlog-submenu section ul > li {
        margin-bottom: 0.5em;
        font-size: 0.9em; }
        .chlog-submenu section ul > li a, .chlog-submenu section ul > li a:link, .chlog-submenu section ul > li a:hover, .chlog-submenu section ul > li a:visited, .chlog-submenu section ul > li a:focus {
          text-decoration: none;
          color: #666;
          display: block;
          height: 100%;
          width: 100%;
          padding: 0.2em 0.5em; }
        .chlog-submenu section ul > li a:hover {
          color: #3a515f;
          text-decoration: underline; } }
/* =======================
   element layout rules 
   ======================= */
form > label {
  display: block;
  font-size: 1em; }

form > input[type=checkbox] {
  display: inline-block; }

form > input[type="text"], form > input[type="textbox"], form > input[type="password"] {
  margin: 0 0 0.8em 0;
  font-size: 1em; }

p > a {
  display: inline-block;
  margin: 0.3em 0 0.3em 0; }

h2 {
  color: #3a515f;
  margin: 0.5em 0 0.8em 0;
  border-bottom: 1px solid #666; }

/* =======================
   header style rules 
   ======================= */
.chlog-header {
  background: #5b7f95;
  padding: 0.5em 0.8em;
  overflow: hidden; }
  .chlog-header a {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    float: left; }

.chlog-header-subheader {
  font-weight: bold;
  color: #ede859;
  display: block; }

.chlog-header-environment {
  font-size: 2em;
  font-weight: bold;
  color: #eee;
  display: inline-block;
  float: right; }

.chlog-header-user {
  padding: 0 0.8em;
  background: #3a515f;
  color: #ddd;
  text-align: right;
  font-size: 0.9em; }
  .chlog-header-user a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    background: #3a515f;
    color: #ddd;
    font-size: 0.9em; }

/* =======================
   Main Screen Area & Footer classes 
   ======================= */
#chlog-main {
  padding: 0.5em 1em 1em 1em; }

#chlog-footer {
  text-align: center;
  border-top: 1px solid #666;
  padding: 0.5em; }

/* 
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
                                    Widescreen rules 
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
*/
@media (min-width: 620px) {
  html {
    overflow-y: scroll; }

  #chlog-main {
    width: 95%;
    margin: auto; } }

/*# sourceMappingURL=chlog-style-main.css.map */
