/* ====================================================
    
    chlog-style-main.css

    Globally applicable style rules. 
    Accomodates mobile-first, and widescreen (620px+) 

   ==================================================== */


// =======================
//   import variables 
// =======================
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import "chlog-style-globalvars.scss";

* {
    box-sizing: border-box;   
    font-family: $chlog-mainfont, sans-serif;
    padding: 0;
    margin: 0;
}

.endfloat {
    clear: both;   
}



// =======================
//   import generic button styles 
// =======================
@import "chlog-style-buttons.scss";

// =======================
//   import menu styles 
// =======================
@import "chlog-style-menu.scss";

// =======================
//   import modal form styles 
// =======================
@import "chlog-style-modal.scss";


/* =======================
   element layout rules 
   ======================= */

form label {
    display: block;
    font-size: 1em;
}   

form input[type=checkbox] {
    display: inline-block;
}

form input[type="text"], 
form input[type="textbox"], 
form input[type="password"],
form input[type="range"],
form select {
    margin: 0 0 0.8em 0;
    font-size: 1em;
}

form select {
    height: 26px;
}

p a {
    display: inline-block;
    margin: 0.3em 0 0.3em 0;   
}

h2 {
    color: $chlog-signature;
    margin: 0.5em 0 0.8em 0;   
    border-bottom: 1px solid $chlog-greytext;
}


/* =======================
   site-wide classes 
   ======================= */

.hidden-modal {
    display: none;   
}


.fldNarrowest {
    display: inline-block;
    width: 3em;   
}

.fldNarrower {
    display: inline-block;
    width: 4em;   
}

.fldNarrow {
    display: inline-block;
    width: 5em;   
}

.fldMedium {
    display: inline-block;
    width: 6.5em;
}

.fldWide {
    display: inline-block;
    width: 7.5em;
}

.fldWider {
    display: inline-block;
    width: 9em;
}

.fldWidest {
    display: inline-block;
    width: 11em;
}

.fldNumeric {
    text-align: right;   
}

.fldChar {
    text-align: left;
}

.divAlignLeft {
   float: left;
}

.divAlignRight {
   float: right;
}


/* =======================
   header style rules 
   ======================= */
.chlog-header {
    background: $chlog-signature;   
    padding: 0.2em 0.8em;
    overflow: hidden;

    a {
        text-decoration: none;   
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8em;
        font-weight: bold;
        color: $chlog-mainlogo;
        display: inline-block;
        float: left;
    }
}


.chlog-header-subheader {
    font-weight: bold;
    color: $chlog-contrast;
    display: block;
}

.chlog-header-loggedinuser {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: $chlog-signaturelight;
    padding: 0 0.8em;
    display: inline-block;
    float: right;   

    a {
        font-size: 10pt;
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: $chlog-signaturelight;
        float: right;
    }
    
}

.chlog-header-user {
    padding: 0 0.8em;   
    background: $chlog-darkblue;
    color: #ddd;
    text-align: right;
    font-size: 0.9em;

    a {
        text-decoration: none;
        margin: 0;
        padding: 0;
        background: $chlog-darkblue;
        color: #ddd;
        font-size: 0.9em;
    }
}



/* =======================
   Main Screen Area & Footer classes 
   ======================= */

#chlog-main {
    padding: 0.5em 1em 1em 1em;   
}

#chlog-footer {
    text-align: center;
    border-top: 1px solid $chlog-greytext;
    padding: 0.5em;
}



/* 
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
                                    Widescreen rules 
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
*/

@media (min-width: 620px) {

    html {
        overflow-y: scroll;
    }

    #chlog-main {
        width: 95%;
        margin: auto;
    }

    .chlog-header-loggedinuser {
        margin-top: 1.5em;

        a:hover {
            color: $chlog-contrast;
        }
    }
}

