/* =======================
   main menu layout rules (Mobile-First) 
   ======================= */

#chlog-mainmenu-toggle {
	display: block;
	background: #fff;
    font-family: $chlog-logofont, sans-serif;
	color: $chlog-greytext;
	padding: 10px 15px;
	margin-bottom: 0.3em;
    border-bottom: 1px solid $chlog-greytext;
    
    img {
        height: 1em;
        width: 1.3em;
        margin-right: 1em;
    }
}


#chlog-mainmenu {
    display: none;
    margin-bottom: 0.3em;
    float: left;
    width: 40%;
    background: $chlog-mainmenu;

    ul {
        list-style: none;   

        li {
            display: block;

            &.dummya {
                font-family: $chlog-menufont, sans-serif;
                display: block;
                padding: 0.2em 0.8em;
                line-height: 1.9em;
                color: $chlog-mainmenutext;
            }
            
            a, a:link, a:visited, a:active, a:focus{
                font-family: $chlog-menufont, sans-serif;
                display: block;
                padding: 0.2em 0.8em;
                line-height: 1.9em;
                color: $chlog-mainmenutext;
                text-decoration: none;
            }

            &.chlog-mainmenu-highlighted {
                background: $chlog-mainmenufocus;
                color: $chlog-mainmenufocustext;
                border-bottom: 3px solid $chlog-contrast;
            }
        }
    }
}


/* MEGAMENUS */

.chlog-submenu {
    float: left;
    width: 58%;
    background: $chlog-mainmenufocus;
    display: none;
    padding: 0.5em; 
    
    section {
        float: none;
        width: 100%;
        margin: 0;
        
        .chlog-submenu-header {
            color: $chlog-darkblue;
            font-family: $chlog-menufont, sans-serif;
            font-size: 1em;
            font-weight: normal;
            padding-bottom: 0.3em;
            margin-top: 0.5em;
            margin-bottom: 1em;
            border-bottom: 2px solid $chlog-darkblue;
        }

        ul>li {
            list-style: none;
            margin-bottom: 1em;   

            a, a:link, a:hover, a:visited, a:focus {
                text-decoration: none;
                color: $chlog-greytext;
                font-family: $chlog-menufont, sans-serif;
            }
            
            a:hover {
                color: $chlog-contrast;   
            }
        }
    }
}


/* 
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
                        Widescreen rules - extend the full menu
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
*/

@media (min-width: 620px) {

        #chlog-mainmenu-toggle {
        display: none;
    }

    #chlog-mainmenu {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 0;
        
        ul {
            list-style: none;   
            margin: 0;
            background: $chlog-mainmenu;
            
            li {
                display: inline-block;
                color: $chlog-greytext;
                font-weight: normal;
                font-size: 0.9em;
                
                &.dummya, a, a:link, a:visited, a:active, a:focus{
                    display: inline-block;
                    text-align: left;
                    padding: 0 0.8em;
                    height: 2em;
                    line-height: 2em;
                    color: $chlog-mainmenutext;
                    transition: background 0.5s;
                }
                
                &.dummya:hover, a:hover {
                    background: $chlog-mainmenufocus;
                    color: $chlog-mainmenufocustext;
                    border-bottom: 3px solid $chlog-contrast;
                }
                
                &.chlog-mainmenu-highlighted {
                    background: $chlog-mainmenufocus;
                    color: $chlog-mainmenufocustext;
                    border-bottom: 3px solid $chlog-contrast;
                }
            }
        }
    }

    
        
    /* MEGAMENUS */

    .chlog-submenu {
        position: absolute;
        left: 0;
        width: 100vw;
        background: #fff;
        color: #fff;
        display: none;
        min-height: 15em;
        padding: 0em 0.5em 0.5em 0.5em; 
        border-bottom: 2px s    olid $chlog-darkblue;
        
        section {
            display: block;
            float: left;
            height: 13em;
            padding: 0 1em;
            background: #fff;
            border-left: 2px solid $chlog-darkgrey;
            border-right: 2px solid $chlog-darkgrey;
            border-radius: 10px;
            width: 30%;
            margin: 1% 1.5%;
            
            .chlog-submenu-header {
                margin-bottom: 0.5em;
                color: $chlog-darkblue;
            }
            
            .chlog-submenu-linkcolumn {
                float: left;
                width: 50%;
            }   
            
            ul>li {
                margin-bottom: 0.5em;   
                font-size: 0.9em;
                
                a, a:link, a:hover, a:visited, a:focus {
                    text-decoration: none;
                    color: $chlog-greytext;
                    display: block;
                    height: 100%;
                    width: 100%;
                    padding: 0.2em 0.5em;
                }

                a:hover {
                    color: $chlog-darkblue;   
                    text-decoration: underline;
                }
            }
        }
    }

}
