/* ====================================================
    
    chlog-style-main.css

    Globally applicable style rules. 
    Accomodates mobile-first, and widescreen (620px+) 

   ==================================================== */

* {
    box-sizing: border-box;   
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.endfloat {
    clear: both;   
}

// =======================
//   import variables 
// =======================
@import "chlog-style-globalvars.scss";

// =======================
//   import generic button styles 
// =======================
@import "chlog-style-buttons.scss";

// =======================
//   import menu styles 
// =======================
@import "chlog-style-menu.scss";

// =======================
//   import modal form styles 
// =======================
@import "chlog-style-modal.scss";


/* =======================
   element layout rules 
   ======================= */

form>label {
    display: block;
    font-size: 1em;
}   

form>input[type=checkbox] {
    display: inline-block;
}

form>input[type="text"], form>input[type="textbox"], form>input[type="password"] {
    margin: 0 0 0.8em 0;
    font-size: 1em;
}

p>a {
    display: inline-block;
    margin: 0.3em 0 0.3em 0;   
}

h2 {
    color: $chlog-darkblue;
    margin: 0.5em 0 0.8em 0;   
    border-bottom: 1px solid $chlog-greytext;
}


/* =======================
   site-wide classes 
   ======================= */

.hidden-modal {
    display: none;   
}

.fldNarrow {
    display: inline-block;
    width: 5em;   
}

.fldWide {
    display: inline-block;
    width: 7.5em;
}

.fldNumeric {
    text-align: right;   
}

.fldChar {
    text-align: left;
}

.divAlignRight {
   float: right;
}


/* =======================
   header style rules 
   ======================= */
.chlog-header {
    background: $chlog-blue;   
    padding: 0.5em 0.8em;
    overflow: hidden;

    a {
        text-decoration: none;   
        font-size: 2em;
        font-weight: bold;
        color: #fff;
        display: inline-block;
        float: left;
    }
}


.chlog-header-subheader {
    font-weight: bold;
    color: $chlog-contrast;
    display: block;
}

.chlog-header-environment {
    font-size: 2em;
    font-weight: bold;
    color: #eee;
    display: inline-block;
    float: right;   
}

.chlog-header-user {
    padding: 0 0.8em;   
    background: $chlog-darkblue;
    color: #ddd;
    text-align: right;
    font-size: 0.9em;

    a {
        text-decoration: none;
        margin: 0;
        padding: 0;
        background: $chlog-darkblue;
        color: #ddd;
        font-size: 0.9em;
    }
}



/* =======================
   Main Screen Area & Footer classes 
   ======================= */

#chlog-main {
    padding: 0.5em 1em 1em 1em;   
}

#chlog-footer {
    text-align: center;
    border-top: 1px solid $chlog-greytext;
    padding: 0.5em;
}



/* 
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
                                    Widescreen rules 
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
*/

@media (min-width: 620px) {

    html {
        overflow-y: scroll;
    }

    #chlog-main {
        width: 95%;
        margin: auto;
    }
    
}

