.dtpCalendar {
    display: none;
}

.divCalendar { 
    box-sizing: border-box; 
    font: normal 1em sans-serif, sans-serif; 
    padding: 0px;
    margin: 0.5em;
}

.tblCalendar { 
    border: 1px solid #444; 
    border-radius: 5px; 
    box-shadow: 5px 5px 5px #aaa;
    margin: 0 0.5em 1em 0.5em;
}

.tCell {  
    font-size: 0.9em;
    height: 21px; 
    width: 26px; 
    text-align: center;
    padding: 2px !important;
}

.thCalHeader { 
    background: #444; 
    color: #eee; 
    font-weight: bold; 
}

.tdCalDay { 
    background: #eee !important; 
    color: #444 !important; 
}

.tdCalToday { 
    background: #ccf !important; 
    color: #008 !important; 
    border: 2px solid #008; 
    border-radius: 15px; 
    font-weight: bold; 
    padding: 0px;
}

.tdCalSelected  { 
    background: #bbb !important; 
    color: #444; 
}

.timeDropdown {
    width: 3.5em;
}
