/* ====================================================
    
    chlog-style-main.css

    Globally applicable style rules. 
    No limits or implications on viewport.

   ==================================================== */

* {
    box-sizing: border-box;   
    font-family: sans-serif;
}

/* =======================
   element layout rules 
   ======================= */

form>label {
    display: block;
}   


form>input[type=checkbox] {
    display: inline-block;
}

form>button.button-noborder {
    border: 0;
    background: #fff;
    color: #333;
}

form>button.button-noborder:hover {
    cursor: pointer;
}


/* =======================
   main menu layout rules 
   ======================= */
#chlog-mainmenu {
    margin-bottom: 1em;
}

#chlog-mainmenu>ul {
    list-style: none;   
    margin: 0;
    padding: 0.2em;
    background: #222;
}

#chlog-mainmenu>ul>li {
    display: inline-block;
    color: #fff;
}

#chlog-mainmenu>ul>li>a, 
#chlog-mainmenu>ul>li>a:link, 
#chlog-mainmenu>ul>li>a:visited,
#chlog-mainmenu>ul>li>a:active
#chlog-mainmenu>ul>li>a:focus{
    display:block;
    padding: 0 0.8em;
    height: 2em;
    line-height: 1.9em;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#chlog-mainmenu>ul>li>a:hover {
    background: #666;
    color: #fff;
}


/* =======================
   global style classes 
   ======================= */

.chlog-header>a {
    text-decoration: none;   
    font-size: 2em;
    color: #666;
}

#chlog-footer {
    text-align: center;
}

