table {
    
    tr {
        height: 1.2em;   
        
        th {
            background: #ddd;
            font-size: 1em;
            padding: 0.2em 0.5em;
        }
            
        td {
            padding: 0.1em;
            
            input[type="text"] {
                font-size: 1em;
                height: 1.8em;
            }
            
            input[type="checkbox"] {
                display: block;
                margin: auto;   
            }
        }
        
        button {
            font-size: 1em;
            border: 1px solid #666;
            background: #fff;
            margin: 0.1em;
            height: 1.8em;
            width: 2.7em;
        }
    }
}


#triggers-content-area {
    width: 100%;
}

form>label {
    font-size: 0.9em;
    margin-bottom: 0.3em;
    margin-left: 0.2em;
}

button {
    width: 5em;   
}


/* 
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
                                    Widescreen rules 
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
    =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
*/

@media (min-width: 620px) {
    #triggers-content-area {
        width: 24em;
    }

    table {
        tr {
            th {
                font-size: 0.9em;
            }
            td { 
                input[type="text"] {
                    font-size: 0.9em;
                }
                button {
                    font-size: 0.9em;   
                    margin: 0.2em;
                }
            }
        }
    }
    
    .fldWide {
        display: inline-block;
        width: 15em;
    }
    
    button {
        width: 7em;   
    }
}

