table {
    
    tr {
        height: 1.2em;   
        
        th {
            background: #ddd;
            font-size: 0.9em;
            padding: 0.2em 0.5em;
        }
            
        td {
            padding: 0.1em;
            font-size: 0.9em;
            
            input[type="text"] {
                height: 1.8em;
            }
            
            input[type="checkbox"] {
                display: block;
                margin: auto;   
            }
        }
        
        button {
            border: 1px solid #666;
            margin: 0.2em;
            height: 1.8em;
        }
    }
}


#symptoms-content-area {
    width: 100%;
}

.fldNarrow {
    display: inline-block;
    width: 5em;   
}

.fldWide {
    display: inline-block;
    width: 10em;
}

.fldNumeric {
    text-align: right;   
}

.fldChar {
    text-align: left;
}

.divAlignRight {
   float: right;
}

@media (min-width: 620px) {
    .fldWide {
        display: inline-block;
        width: 15em;
    }
}

