@import "../common/styles/chlog-style-globalvars.scss";

.divAttackListHeader {
    padding: 0.1em 0.6em;
    font-size: 0.9em;
    font-weight: bold;
    background: $chlog-signature;
    color: $chlog-signaturelight;
    
    span {
        margin-right: 0.2em;
    }
}

.divAttackList {
    height: 20em;
    border: 0px solid $chlog-darkgrey;
    background: $chlog-containerbackground;
    overflow-y: scroll;
    padding: 0.3em 0.3em;
    font-size: 0.9em;
    
    article {
        margin-bottom: 0em;
        padding: 0.2em 0.3em;
        
        &:nth-child(odd) {
            background: $chlog-alternatebackground;
        }
        
        span {
            margin-right: 0.2em;
        }
    }
    
}

.spnRef  { display: inline-block; width: 8em; text-align: left; display: none;}
.spnLev  { display: inline-block; width: 8em; text-align: left; display: none;}
.spnFrom { display: inline-block; width: 9em; }
.spnTo   { display: inline-block; width: 9em; }


@media (min-width: 620px) {
    .divAttackListHeader { width: 35em; }
    .divAttackList { width: 35em; }
    .spnRef  { display: inline-block; width: 4em; text-align: right; display: none}
    .spnLev  { display: inline-block; width: 3em; text-align: right; margin-left: 1em;}
    .spnFrom { display: inline-block; width: 11em; margin-left: 2em; }
    .spnTo   { display: inline-block; width: 11em; }
}