/* ====================================================
    
    chlog-about.css

    Stylesheet specifically for the about screen

   ==================================================== */

@import "../common/styles/chlog-style-globalvars.scss";


p {
    color: $chlog-darkgrey;
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    
    strong {
        color: #d00;   
    }
}

#divLogo {
    display: block;
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    width: 100px;
    height: 100px;
    background: $chlog-signature;
    color: $chlog-mainlogo;
    font-family: $chlog-logofont;
    font-weight: bold;
    font-size: 3em;
    padding-top: 42px;
    padding-right: 7px;
    text-align: right;   
}