@import "../common/styles/chlog-style-globalvars.scss";


.chlog-main-splash {
    color: #ddd;   
    position: absolute;
    width: 90vw;
    z-index: -1;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    padding: 0.5em 0;
}

#chlog-content-area {
    min-height: 10em;   
}

p.dashtitle {
    display: inline-block;
    width: 100%;
    border-radius: 5px 5px 0 0;
    font-family: $chlog-menufont;
    background: $chlog-signature;
    color: $chlog-signaturelight;
    text-align: center;
    padding: 5px 0;
}

#chlog-dashboard {
    overflow: hidden;
    background: $chlog-containerbackground;
    padding: 10px 10px 10px 10px;
    border-radius: 0 0 5px 5px;
}

.chlog-dashboard-chart {
    position: relative;
    z-index: 0;
    background: $chlog-charttilebackground;
    float: left;
    border: 1px solid $chlog-bordergrey;
    border-radius: 5px;
    height: 300px;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
}


@media (min-width: 620px) {

    .chlog-main-splash {
        position: absolute;
        width: 98%;
        z-index: -1;
        font-size: 10em;
        text-align: center;
        padding: 0.5em 0;
    }
    
    #chlog-content-area {
        min-height: 25em;   
    }

    p.dashtitle {
        margin-top: 1em;
    }
    
    .chlog-dashboard-chart {
        float: left;
        border: 1px solid $chlog-bordergrey;
        height: 300px;
        min-width: 300px;
        max-width: 350px;
        margin: 5px;
    }
    
}
